/* Bills */
.bills {
    display: flex;
    flex-direction: row;
}

.bills-content {
    margin-left: 30px;
    width: 100%;
}

/* Add New Bill  */
.add-new-bills-wrapper {
    display: grid;
}

.add-new-bills--create {
    display: flex;
}

.add-new-bills {
    width: 20px;
}

.add-new-bills h1 {
    font-family: 'Roboto', sans-serif;
    margin: 25px 45px 15px 45px;
    font-size: 40px;
    width: 250px;
}