.bills {
    display: flex;
    flex-direction: row;
}

.bills-content {
    margin-left: 30px;
    width: 100%;
}

/* bill table section */
.bill-table {
    border: 1px solid lightgray;
    display: grid;
    height: 333px;
}

.bill-info {
    height: 5px;
}

.bill-info th {
    background-color: lightgray;
    width: 190px;

}

.bill-info tr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

/* tab section */
.bill_tab_table {
    border: 2px solid lightgray;
    max-width: 100%;
    margin-right: 180px;
    height: 600px;
};

.tabs {
    width: 100%;
}

.tab_btns {
    display: flex;
    justify-content: right;
}

.tab_btns button {
    height: 30px;
    width: 100%;
}

/* Add New Bill Section */
.add-new-bills-wrapper {
    display: grid;
}

.add-new-bills--create {
    display: flex;
}

.add-new-bills {
    width: 20px;
}

.add-new-bills h1 {
    font-family: 'Roboto', sans-serif;
    margin: 25px 45px 15px 45px;
    font-size: 40px;
    width: 250px;
}

.submission-data {
    display: grid;
    margin-right: 30px;
}

.submission-data button {
    height: 50px;
    width: 120px;
    margin-left: 50px;
    border-radius: 8;
    font-size: 20px;
    font-weight: bold;
}

.submission-data button:hover {
    background-color: hsl(var(--accent));
    color: white;
    border: 4px solid darkgray;
}

.submission-data input {
    height: 60px;
    width: 500px;
}

.bill--name-amount {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

.bill-name label {
    font-size: 30px;
    color:  hsl(var(--accent))
}

.bill-amount label {
    font-size:  30px ;
    color:  hsl(var(--accent));
}

.bill-amount input {
    display: grid;
    width: 105px;
    height: 60px;
}

.bill--week-datedue {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0px 15px 50px;
    gap: 20px;
}

.bill-week {
    margin: 20px 0px 20px 0px;
    display: grid;
}

.bill-week label {
    font-size: 30px;
    color: hsl(var(--accent));
}

.bill-week select {
    height: 60px;
    width: 222px;
    margin-right: 50px;
}

.bill-date {
    margin: 20px 0px 20px 0px;
    display: grid;
}

.bill-date label {
    font-size: 30px;
    color: hsl(var(--accent));
}

.bill-date input {
    width: 200px;
    height: 60px;
}

/* Bill List section */
.bill-list h1 {
    font-size: 40px;
    margin: 40px 0px 15px 30px;
}

.bill-list ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.bill-list li {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border: 1px solid lightslategray;
    padding-left: 10px;
    list-style-type: none;
    height: 66px;
}

.bill-list-info {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.bill-list--name-amount {
    display: flex;
    width: 100%;
}

.bill-list--week-datedue {
    display: flex;
    width: 444px;
    justify-content: right;
    margin-right: 10px;
}

.bill-list-modifiers {
    display: flex;
    justify-content: right;
    width: 248px;
    align-items: center;
}

.bill-list--checkbox {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.bill-list--checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }

  .bill-list--checkbox input[type="checkbox"]:checked {
    background-color: hsl(var(--accent));
    border-color: hsl(var(--accent));
  }

  .bill-list--checkbox input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: -2px;
    left: 9px;
    width: 18px;
    height: 35px;
    border: solid white;
    border-width: 0 10px 10px 0;
    transform: rotate(45deg);
  }

.bill-list--btns {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
    gap: 4px;
}

.bill-list--name {
    width: 300px;
    height: 40px;
}

.bill-list--amount {
    width: 130px;
    height: 40px;
}

.bill-list select {
    height: 40px;
    width: 210px;
    font-size: 18px;
    margin: 2px 0px 2px 0px;
}

.bill-list--date {
    width: 210px;
    height: 40px;
}

.bill-list button {
    width: 70px;
    height: 40px;
    margin: 2px 0px 2px 2px;
}

.bill-list button:hover {
    color: black;
    border: 3px solid hsl(var(--accent));
    transition: 600ms;
}


