.content-setup {
    display: flex;
    flex-direction: row;
}

.content-wrapper {
    display: grid;
}

.content {
    display: flex;
    width: 100%;  
}

.content--submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 50px;
}

.content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}