/* Investments */
.investments {
    display: flex;
    flex-direction: row;
}

.investments-content {
    margin-left: 30px;
    width: 100%;
}

/* Add New Investments  */
.add-new-investments-wrapper{
    display: grid;
}

.add-new-investments--create{
    display: flex;
}

.add-new-investments {
    width: 20px;
}

.add-new-investments h1 {
    font-family: 'Roboto', sans-serif;
    margin: 25px 45px 15px 45px;
    font-size: 40px;
    width: 250px;
}

/* Existing Investment Styles */
.existing-investments li {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: lightgray;
    border: 1px solid lightslategray;
    padding-left: 10px;
    height: 66px;
}

.existing-investment--name-amount {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 66px;
    width: 100%;
}

.existing-investment-amount {
    display: flex;
    gap: 5px;
}

.existing-investment-name {
    display: flex;
    gap: 5px;
    width: 415px;
}