.list-items h1 {
    font-size: 30px;
    margin: 40px 0px 15px 30px;
}

.list-items ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.list-items li {
    display: flex;
    align-items: center;
    background-color: lightgray;
    border: 1px solid lightslategray;
    padding-left: 10px;
    list-style-type: none;
}

.list-items-info {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    gap: 50px;
}

.list-items--name-amount {
    display: flex;
}

.list-items--week-datedue {
    display: flex;
    margin-right: 10px;
}

.list-items-modifiers {
    display: flex;
    align-items: center;
}

.list-items--checkbox {
    display: flex;
    align-items: center;
    height: 30px;
    width: 40px;
    margin-right: 10px;
}

.list-items--checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.list-items--checkbox input[type="checkbox"]:checked {
    background-color: hsl(var(--accent));
    border-color: hsl(var(--accent));
}

.list-items--checkbox input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 10px;
    width: 13px;
    height: 27px;
    border: solid white;
    border-width: 0 7px 7px 0;
    transform: rotate(45deg);
}

.list-items--btns {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
    gap: 4px;
    margin-right: 5px;
}

.list-items button {
    width: 60px;
    height: 30px;
    margin: 3px 0px 3px 3px;
}

.list-items select {
    height: 40px;
    width: 210px;
    font-size: 18px;
    margin: 2px 0px 2px 0px;
}

.list-items--name {
    width: 300px;
    height: 40px;
}

.list-items--amount {
    width: 130px;
    height: 40px;
}


.list-items--date {
    width: 210px;
    height: 40px;
}


.list-items button:hover {
    color: black;
    border: 3px solid hsl(var(--accent));
    transition: 600ms;
}