html, body {
    margin: 0;
    padding: 0;
  }

@import "./banner.css";
@import "./base.css";

@import "./calendar.css";
@import "./content.css";

@import "./contributions.css";

@import "./existing-data.css";

@import "./list-items.css";
@import "./login.css";

@import "./nav.css";

@import "./progress.css";

@import "./sidebar.css";
@import "./submit-data.css";

@import "./tab-table.css";






