@media (max-width: 960px) {
/* navbar */
    .nav {
        width: 100%;
        box-sizing: border-box;
    }

/* page-content */
    .page-content .tab-table {
        margin: 0;
    }

    .page-content .tab-table .tab-btns button {
        height: 50px;
    }

/* content */
    .content-wrapper {
        width: 100%;
    }
    
    .content-setup {
        display: flex;
        flex-direction: column;
    }

    .content-setup .sidebar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }

    .content-setup .sidebar a {
        flex: 1 1 30%; 
        max-width: 150px; 
        box-sizing: border-box; 
    }

    .content-setup .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .content .content--submission {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    .content--submission .submission-data {
        flex-wrap: wrap;
        width: 100%;
    }

/* submission-data */
    .submission-data
    .submission-data-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .submission-data-content 
    .submit--name-amount {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    .submission-data-content 
    .submit--week-datedue  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        width: 100%;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
    }

    .submission-data-content
    .submit--name-amount input {
        width: 300px;
    }

    .submission-data-content
    .submit--week-datedue input {
        width: 300px;
    }

    .submit--name-amount
    .submit-name {
        align-items: center;
    }

    .submit--name-amount
    .submit-amount {
        align-items: center;
    }

    .submit--week-datedue
    .submit-week {
        align-items: center;
    }

    .submit--week-datedue
    .submit-datedue {
        align-items: center;
    }

    .submit--week-datedue
    .submit-week select {
        width: 300px;
        margin: 0;
    }

/* table */
    table {
        width: 100%;
        height: fit-content;
    }

    table .progress {
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: 100%;
    }

    table .progress tr {
        width: 100%;
    }


/* list-items */
    .list-items {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-items ul li {
        flex-wrap: wrap;
        width: 100vw;
    }

    .list-items ul li .list-items-info {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .list-items ul li .list-items-modifiers {
        justify-content: center;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

/* existing data */
    .existing-data--name-amount {
        flex-direction: column;
    }

    .existing-data--name-amount
    .existing-data-name { 
        width: 100%;
    }

    .existing-data--name-amount
    .existing-data-amount {
        width: 100%;
    }

    .existing-data li {
        height: auto;
    }

    .existing-data
    .contribution {
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }

    .contribution
    .contribution-btns-wrapper {
        justify-content: center;
    }

    .contribution
    .contribute-btns-wrapper button {
        flex: 1 1 30%;
        box-sizing: border-box;
        margin: 0;
    }
}

@media (max-width: 444px) {
    .contribution
    .contribute-btns-wrapper {
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .contribution
    .contribution-amount,
    .edit-contribution {
        flex-direction: column;
    }

    .contribution
    .contribution-amount button {
        margin-right: 0px;
    }
    .contribution
    .edit-contribution button {
        margin-right: 0px;
    }
}