@media (max-width: 960px) {
/* content */
    .content-wrapper {
        width: 100%;
    }
    
    .content-setup {
        display: flex;
        flex-direction: column;
    }

    .content-setup .sidebar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .content-setup .sidebar a {
        flex: 1 1 30%; 
        max-width: 150px; 
        box-sizing: border-box; 
    }

    .content-setup .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .content .tab-table {
        margin: 0;
    }

    .content .content--submission {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0;
    }

    .content--submission .submission-data {
        flex-wrap: wrap;
        width: 100%;
    }

/* submission-data */
    .submission-data
    .submission-data-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .submission-data-content 
    .submit--name-amount {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    .submission-data-content 
    .submit--week-datedue  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        width: 100%;
    }

    .submission-data-content
    .submit--name-amount input {
        width: 300px;
    }

    .submission-data-content
    .submit--week-datedue input {
        width: 300px;
    }

    .submit--name-amount
    .submit-name {
        align-items: center;
    }

    .submission-data-content
    .submit-amount {
        align-items: center;
    }

    .submit--week-datedue
    .submit-week select {
        width: 300px;
        margin: 0;
    }

/* table */
    table {
        width: 100%;
        height: fit-content;
    }

    table .progress {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }

    table .progress tr {
        width: 100%;
    }

/* list-items */
    .list-items {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .list-items ul li {
        flex-wrap: wrap;
        width: 100vw;
    }

    .list-items ul li .list-items-info {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .list-items ul li .list-items-modifiers {
        width: 100%;
        justify-content: center;
    }
}