.sidebar {
    display: flex;
    grid-gap: 25px;
    width: 191px;
    background-color: #f4f4f4;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid lightgray;
  }
  
  .sidebar button {
    width: 150px;
    height: 90px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  .sidebar button:hover {
    background-color: #e4e4e4;
  }
