.submission-data {
    display: grid;
    grid-gap: 30px;
    margin-left: 30px;

}

.submission-data-content {
    display: grid;
    grid-gap: 25px;
}

/* Name and Amount */
.submit--name-amount {
    display: flex;
    width: 100%;
    gap: 70px;
}

/* Name */
.submit-name {
    display: grid;
}

.submit-name label {
    font-size: 20px;
    color:  hsl(var(--accent))
}

.submit-name input {
    width: 300px;
    height: 40px;
    font-size: 15px;
}

/* Amount */
.submit-amount {
    display: grid;
}

.submit-amount label {
    font-size:  20px ;
    color:  hsl(var(--accent));
}

.submit-amount input {
    width: 100px;
    height: 40px;
    font-size: 15px;
}

/* Week and Duedue */
.submit--week-datedue {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

/* Week */
.submit-week {
    display: grid;
}

.submit-week label {
    font-size: 20px;
    color: hsl(var(--accent));
}

.submit-week select {
    height: 40px;
    width: 222px;
    margin-right: 50px;
    font-size: 15px;
}

/* Date Due */
.submit-datedue {
    display: grid;
}

.submit-datedue label {
    font-size: 20px;
    color: hsl(var(--accent));
}

.submit-datedue input {
    width: 200px;
    height: 40px;
    font-size: 15px;
}

/* Submit Data Button */
.submission-data button {
    height: 38px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    color: hsl(var(--accent));
    background-color: hsl(var(--bkg));
    border: 2px solid hsl(var(--accent));
}

.submission-data button:hover {
    color: white;
    background-color: hsl(var(--accent));
    border: none;
}