/* tab sections */
.tab-table {
    border: 2px solid lightgray;
    width: 100%;
    margin: 0px 10px
};

.tabs {
    width: 100%;
}

.tab-btns {
    display: flex;
    justify-content: right;
}

.tab-btns button {
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}








